= javascript_include_tag "http://maps.google.com/maps/api/js?v=3.4&?libraries=geometry&sensor=false"

%p#notice= notice

%p
  %b Address:
  = @locality.formatted_address
%p
  %b Types:
  %ul
  - @locality.types.each do |type|
    %li= type
