= javascript_include_tag "http://maps.google.com/maps/api/js?v=3.4&?libraries=geometry&sensor=false"

#map_content
  #google_map
#sidebar
  %h3 Spot list:
  #spotlist
    = render @spots
  #paginator
    = paginate @spots, :remote => true
#add_new_spot
  %p= link_to 'New Spot', new_spot_path