= javascript_include_tag "http://maps.google.com/maps/api/js?v=3.4&sensor=false"
= javascript_include_tag "google_map.js"
#map_content
	#google_map
#spotlist
	%table
		%tr
			%th Spot list:
		- @spots.each do |spot|
			%tr
				%td= link_to spot.name, spot
#add_new_spot
	%table
		%tr
			%td= link_to 'New Spot', new_spot_path