%h1 Welcome to Treashery.com!
%p
  If you are here it means, that you found some stinky garbage laying on the street, or maybe forest?
%p
  You are right! We have to show people that only idiots are storing their shit on streets! =P
%p
  Good luck and have fun with adding new spots and uploading photos :)